/*
添加人：wy
时间：2016-04-20
版本：1.0
版权：量硕宏程投资管理（北京）有限公司
*/

 @import "reset.css";

body{ font-size: 12px; line-height: 1.8; font-family: "微软雅黑","Microsoft Yahei", Arial; background: #fff; color: #333333;}

.clear{ clear:both; height:0px; overflow:hidden;}
.clearfix{zoom:1;}
.clearfix:after{clear:both; content:"."; display:block ;height:0; line-height:0; visibility:hidden; overflow:hidden;}
.fl{ float:left;}
.fr{ float:right;}

.txt-nowrap{display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-break:keep-all;}
.txt-left{ text-align: left; }
.txt-right{ text-align: right; }
.txt-center{ text-align: center; }

.font{ font-family:'宋体', 'SimSun';}
.bold{ font-weight: bold; }
.normal{ font-weight:normal; }

.white{ color: #fff; }
.gray{ color: #333; }
.gray-90{ color:#909090; }
.gray-99{ color:#999; }
.gray-lighter{ color:#7f848a; }
.orange{ color: #ff6803 !important; }

.line-height-1{ line-height:1; }

.f10{ font-size: 10px; }
.f12{ font-size: 12px; }
.f14{ font-size: 14px; }
.f16{ font-size: 16px; }
.f18{ font-size: 18px; }
.f20{ font-size: 20px; }
.f22{ font-size: 22px; }
.f24{ font-size: 24px; }
.f30{ font-size: 30px; }
.f36{ font-size: 36px; }

.pos_abs{ position: absolute; }
.pos_rel{ position: relative; }
.pos_fix{ position: fixed; }

.bgc-opacity{ filter:Alpha(Opacity=70); Opacity:0.7;background:#000;}
.table_collapse{border-collapse:collapse;}

.dis_none{ display: none; }
.dis_block{ display: block !important; }

.vertical_top{ vertical-align: top; }
.vertical_middle{ vertical-align: middle !important;}
.over_hidden{ overflow: hidden; }
.over_scroll{ overflow: scroll; }

.m5{ margin:5px; }
.mb5{ margin-bottom: 5px; }
.mt5{ margin-top: 5px; }
.ml5{ margin-left: 5px; }
.mr5{ margin-right: 5px; }
.m10{ margin:10px; }
.mb10{ margin-bottom: 10px; }
.mt10{ margin-top: 10px; }
.ml10{ margin-left: 10px; }
.mr10{ margin-right: 10px; }
.mt20{ margin-top: 20px; }
.ml20{ margin-left: 20px; }
.mlr_auto{ margin-left: auto; margin-right: auto; }

.pb4{ padding-bottom:4px; }
.p5{ padding:5px; }
.pb5{ padding-bottom: 5px; }
.pt5{ padding-top: 5px; }
.pl5{ padding-left: 5px; }
.pr5{ padding-right: 5px; }
.p10{ padding:10px; }
.pb10{ padding-bottom: 10px; }
.pt10{ padding-top: 10px; }
.pl10{ padding-left: 10px; }
.pr10{ padding-right: 10px; }
.pb15{ padding-bottom: 15px; }
.pt15{ padding-top: 15px; }
.p20{ padding:20px; }
.pt20{ padding-top: 20px; }
.pb20{ padding-bottom:20px; }
.pt30{ padding-top:30px; }
.pb30{ padding-bottom:30px; }





.border{ border: 1px solid #cccccc; }
.border-top-e6{ border-top: 1px solid #e6e6e6; }
.border-bot-e6{ border-bottom: 1px solid #e6e6e6; }
.border-top-cc{ border-top: 1px solid #ccc; }
.border-bot-e1{ border-bottom:1px solid #e1e1e1; }
.border-top-e1{ border-top:1px solid #e1e1e1; }
.line-gray-light{ border-top:1px solid #404549; }
.border-right-dotted{ border-right: 1px dotted #a3a3a3; }
.border-top-dotted{ border-top:1px dotted #a3a3a3; }

.bg-f9{ background: #f9f9f9; }
.bg-33{ background: #333; }
.bg-29{ background:#292929; }
.bg-white{ background: #fff; }


.w1200{ width: 1200px; margin-left: auto; margin-right: auto; }
.w880{ width:880px; }
.w310{ width: 310px; }