/*
添加人：wy
时间：2016-04-20
版本：1.0
版权：量硕宏程投资管理（北京）有限公司
*/

.btn_orange{ width: 100%; border: none; height: 40px; background: #fa6239; border-radius: 3px; cursor: pointer; font-size:16px;}
.button{width:140px; height:40px; display:inline-block; line-height:40px; border-radius: 3px; cursor: pointer;}
.button:hover{ color:#fff; }
.btn_green{ background:#98d359; }
.btn_blue{ background:#329dff; }
.btn_red{ background:#ff5d5b; }
.btn_gray{ background:#b4b4b4; }


/* 注册与登录 选项卡 */
.register_log{ width: 260px; height: 300px; left: 50%; top: 50%; margin-top: -160px; margin-left: 320px; border-radius: 5px;}
.register_log_hd{ padding: 0 6px; height: 32px; line-height: 32px; }
.register_log_hd li{ float: left; width: 100px; border-bottom: 1px solid #fff; margin: 0 12px; cursor: pointer; color: #2483cb; }
.register_log_hd li.cur{ border-bottom-color: #fa6239; color: #fa6239;  }
.register_log .text{ border: 1px solid #e1e1e1; border-radius: 3px; width: 238px; height: 28px; padding: 5px 10px; color: #ababab;}
.register_log .codes-input{ width: 98px; }
.register_log .codes{ border: 1px solid #e1e1e1; display: inline-block; border-radius: 3px; width: 124px;}
.register_log_bd{ display: none; }

/* 服务项目 */
.services{}
.services li{ float: left; width: 33.3%; }
.services li .icon{ display: block; width: 114px; height: 92px; margin-left: auto; margin-right:auto; background: url(../images/icon_services.png) no-repeat 0 0; }
.services li .icon_investment{}
.services li .icon_loan{ background-position:0 -91px; }
.services li .icon_safe{ background-position:0 -182px; }

/* 新手专享 */
.new-hand{}
.new-hand .title ,.recommend_pro .title ,.transfer_proj .title{ background: url(../images/icon_green_line.png) no-repeat left center; color: #77b716; height:40px; line-height:40px; padding-left:30px; }
.new-hand .move{ margin-left:-5px; }
.new-hand .move .button ,.recommend_list .move .button{filter:Alpha(Opacity=70); Opacity:0.7;}
.new-hand dd{ display:table-cell; vertical-align:middle; }
.new-hand .first{ width:130px; }
.new-hand .second{ width:398px; }
.new-hand .third{ width:146px; }
.new-hand .third .activity ,.recommend_list li .recom{ display: none; }
.new-hand .fourth{ width:184px; }
.new-hand ul ,.recommend_list ,.transfer_list ul ,.invest-rank ul{ display:table; vertical-align:middle; width:100%;}
.new-hand li ,.recommend_list ul ,.invest-rank li{ display:table-row; }
.new-hand li span ,.invest-rank li span{ display:table-cell; }

/* 推荐产品 */
.recommend_pro{}
.recommend_pro .title{ background-image:url(../images/icon_blue_line.png); color:#329dff;}
.recommend_list .move li{text-indent:-5px;}
.recommend_list .more{ position:absolute; top:18px; right:0px; }
.recommend_list .more ,.transfer_title .more{color: #329dff;}
.recommend_list li{ display:table-cell; border-top:1px solid #e1e1e1; vertical-align:middle; padding:10px 0; width:137px; }
.recommend_list .tHead li{ padding:20px 0; }
.recommend_list .none li{ border-top:none; }
.recommend_list li.value{ width:126px;}
.recommend_list li.invest {width:204px;}

/* 转让项目 */
.transfer_proj{}
.transfer_proj .title{ background-image:url(../images/icon_orange_line.png); color:#ff5d5c;}
.transfer_title{}
.transfer_title span{display:inline-block; width:144px; }
.transfer_title span.last{ width:300px; }
.transfer_list{}
.transfer_list li{ display:table-cell; width:144px;}
.transfer_list li.last { width:266px; padding-right:32px; }
.transfer_list .schedule{ height:30px; line-height:30px;}
.transfer_list .schedule_box{ height:8px; border-radius:2px; background:#eeeeee; width:60%; display:inline-block; overflow:hidden;  }
.transfer_list .schedule_box span{ display:block; height:8px; border-radius:2px; background:#ff5d5c; font-size:0px;}
.transfer_list .schedule i{ display:inline-block; }


.rightBox .title .more ,.company_news h3 .more ,.questions h3 .more ,.media_reports h3 .more{ color:#909090; position:absolute; right:0px; bottom:3px; }
/* 新闻列表 */
.lists{}
.lists li{ height: 26px; line-height: 26px; overflow: hidden; position: relative;}
.lists li a{ padding-right: 80px; display: block;}
.lists li .time{ position: absolute; right: 0px; top: 0px; }
/* 量众动态 */
.company_news{}
.company_news li{ background:url(../images/icon_circle.png) no-repeat left center; padding-left:10px; height:30px; line-height:30px; }
/* 常见问答 */
.questions{}
.questions li{ background:url(../images/icon_dote.png) no-repeat left center; padding-left:10px; height:30px; line-height:30px; }

/* 投资达人榜 */
.invest-rank{}
.invest-rank li{ line-height:2.1; }
.invest-rank li i{ display:inline-block; width:16px; height:16px; line-height:16px; background:#909090; color:#fff; }
.invest-rank li.first i{ background:#ff6803; }

/* 媒体报道 */
.media_reports{}
.media_reports li{ float:left; width:134px; margin:10px; }
.media_reports li img{ max-width:134px; height:46px; }

/* 合作伙伴 */
.panners{}
.panners dt{ width:120px; height:60px; line-height:60px;}
.panners dd{ width:1100px; margin-right:-20px;}
.panners dd a{ display: block; float: left; border:1px solid #e1e1e1; width:198px; height:58px; margin-right:20px; }
.panners dd a img{ display:block; width:100%; height:100%; }


/* 仪表盘 */
.dash-board{ width: 90px; height: 90px; margin: 0 auto;}
