/*
添加人：wy
时间：2016-04-20
版本：1.0
版权：量硕宏程投资管理（北京）有限公司
*/

@import 'base.css';
@import 'fonts/iconfont.css';
.w1200{width: 1200px; margin: 0 auto;}
/* 顶部 */
.top{color: #a1acb4; height: 30px; line-height: 30px;background:#444; font-size:14px;}
.top .fast-way{ color: #e6e6e6; font-size: 12px;}
.top .fast-way a{ color: #fff; padding: 0 5px; }
.top .fast-way .user_center{position: relative; }
.top .fast-way .user_center dt{background: #333; padding: 0 10px;}
.top .fast-way .user_center dd{position: absolute;z-index: 999;background: #fff; border: 1px solid #ddd;}
.top .fast-way .user_center dd a{color: #444; padding: 0 14px; display: block; height: 25px; line-height: 25px;}
.top .fast-way .user_center dd a:hover{background: #eee;}



/* 头部样式 */
.head{ height:60px; padding: 12px 0; }
.head .logo{ width: 332px; height: 48px; background: url(../images/logo.png) no-repeat 0 0; text-indent: -999px; overflow: hidden; margin-top:10px;}

/* 导航样式 */
.nav{margin-top:15px; position:relative; z-index:9; }
.nav li{ float: left; height:36px; line-height:36px; margin-left:30px;  }
.nav li ul{border:1px solid #ccc; padding:10px 0;}
.nav li ul li{margin:0; font-size:16px; height:30px; line-height:30px;}
.nav li a{display: block;  padding:0 10px;}
.nav li a.cur{ color: #ff6803; }
.nav .sub_nav{ display: none; background:#fff; }
.nav .sub_nav li{ float:none; }

/* 底部样式 */
.service-tel , .codes{ width:398px; }
.fast-way-bot{ width: 270px;  }
.fast-way-bot{ background:url(../images/logo_gray.png) no-repeat top center; padding:66px 64px 0 64px; line-height:30px; }
.fast-way-bot a{ color:#fff; display:inline-block; width: 33.3%; text-align:center;}
.line{ border-left:1px solid #404549; height:142px; width:1px; overflow:hidden;}
.codes ul{ width:240px; margin:0 auto; }
.codes li{ float:left; width:100px; padding:0 10px;}
.codes li img{ display:block; width:100px; }
.service-tel a{ color:#7f848a; margin:0 10px;}
.links { line-height:40px; }
.links a{ padding:0 5px; color:#7f848a; }
.honor img{ margin:0 18px; }