HTML {
	OVERFLOW-Y: scroll
}
HTML {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
BODY {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DIV {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
P {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H1 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H2 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H3 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H4 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H5 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H6 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
OL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
UL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
LI {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DT {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DD {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
FORM {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
LEGEND {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
BUTTON {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
PRE {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
CODE {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TH {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TD {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
BODY {
	WORD-BREAK: break-all; COLOR: #666; FONT: 14px/1.5 Microsoft yahei
}
BUTTON {
	WORD-BREAK: break-all; COLOR: #666; FONT: 14px/1.5 Microsoft yahei
}
INPUT {
	WORD-BREAK: break-all; COLOR: #666; FONT: 14px/1.5 Microsoft yahei
}
SELECT {
	WORD-BREAK: break-all; COLOR: #666; FONT: 14px/1.5 Microsoft yahei
}
TEXTAREA {
	WORD-BREAK: break-all; COLOR: #666; FONT: 14px/1.5 Microsoft yahei
}
BODY {
	MIN-WIDTH: 1002px
}
BUTTON {
	FONT-SIZE: 100%
}
INPUT {
	FONT-SIZE: 100%
}
SELECT {
	FONT-SIZE: 100%
}
TEXTAREA {
	FONT-SIZE: 100%
}
INPUT {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; VERTICAL-ALIGN: middle; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none
}
IMG {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; VERTICAL-ALIGN: middle; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none
}
SELECT {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; VERTICAL-ALIGN: middle; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none
}
IFRAME {
	DISPLAY: block
}
H1 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H2 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H3 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H4 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H5 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
H6 {
	FONT-SIZE: 100%; FONT-WEIGHT: normal
}
UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
OL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
LI {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
ADDRESS {
	FONT-WEIGHT: 500; FONT-STYLE: normal
}
CAPTION {
	FONT-WEIGHT: 500; FONT-STYLE: normal
}
CITE {
	FONT-WEIGHT: 500; FONT-STYLE: normal
}
CODE {
	FONT-WEIGHT: 500; FONT-STYLE: normal
}
DFN {
	FONT-WEIGHT: 500; FONT-STYLE: normal
}
EM {
	FONT-WEIGHT: 500; FONT-STYLE: normal
}
TH {
	FONT-WEIGHT: 500; FONT-STYLE: normal
}
VAR {
	FONT-WEIGHT: 500; FONT-STYLE: normal
}
CODE {
	FONT-FAMILY: courier new, courier, monospace
}
KBD {
	FONT-FAMILY: courier new, courier, monospace
}
PRE {
	FONT-FAMILY: courier new, courier, monospace
}
SAMP {
	FONT-FAMILY: courier new, courier, monospace
}
LEGEND {
	COLOR: #000000
}
FIELDSET {
	BORDER-TOP: 0px; BORDER-RIGHT: 0px; BORDER-BOTTOM: 0px; BORDER-LEFT: 0px
}
IMG {
	BORDER-TOP: 0px; BORDER-RIGHT: 0px; BORDER-BOTTOM: 0px; BORDER-LEFT: 0px
}
TABLE {
	BORDER-COLLAPSE: collapse; BORDER-SPACING: 0
}
TH {
	TEXT-ALIGN: inherit
}
:focus {
	OUTLINE-WIDTH: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert
}
BLOCKQUOTE {
	QUOTES: none
}
Q {
	QUOTES: none
}
BLOCKQUOTE:before {
	CONTENT: ''
}
BLOCKQUOTE:after {
	CONTENT: ''
}
Q:before {
	CONTENT: ''
}
Q:after {
	CONTENT: ''
}
EM {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
I {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
INPUT[type=text] {
	BOX-SIZING: content-box; -moz-box-sizing: content-box
}
A {
	TEXT-DECORATION: none; COLOR: #666
}
A:hover {
	TEXT-DECORATION: none
}
.f12 {
	FONT-SIZE: 12px
}
.f14 {
	FONT-SIZE: 14px
}
.f16 {
	FONT-SIZE: 16px
}
.f18 {
	FONT-SIZE: 18px
}
.f20 {
	FONT-SIZE: 20px
}
.f22 {
	FONT-SIZE: 22px
}
.f24 {
	FONT-SIZE: 24px
}
.f26 {
	FONT-SIZE: 26px
}
.f28 {
	FONT-SIZE: 28px
}
.f30 {
	FONT-SIZE: 30px
}
.f32 {
	FONT-SIZE: 32px
}
.f36 {
	FONT-SIZE: 36px
}
.clearfix:before {
	CONTENT: ""; DISPLAY: table
}
.clearfix:after {
	CONTENT: ""; DISPLAY: table
}
.clearfix:after {
	CLEAR: both
}
.clearfix {
	
}
.clear {
	OVERFLOW: hidden; HEIGHT: 0px; CLEAR: both; LINE-HEIGHT: 0
}
.m10 {
	MARGIN: 10px
}
.m15 {
	MARGIN: 15px
}
.m30 {
	MARGIN: 30px
}
.mt5 {
	MARGIN-TOP: 5px
}
.mt5 {
	MARGIN-TOP: 5px
}
.mt10 {
	MARGIN-TOP: 10px
}
.mt15 {
	MARGIN-TOP: 15px
}
.mt20 {
	MARGIN-TOP: 20px
}
.mt30 {
	MARGIN-TOP: 30px
}
.mt40 {
	MARGIN-TOP: 40px
}
.mt50 {
	MARGIN-TOP: 50px
}
.mt100 {
	MARGIN-TOP: 100px
}
.mb5 {
	MARGIN-BOTTOM: 5px
}
.mb10 {
	MARGIN-BOTTOM: 10px
}
.mb15 {
	MARGIN-BOTTOM: 15px
}
.mb20 {
	MARGIN-BOTTOM: 20px
}
.mb30 {
	MARGIN-BOTTOM: 30px
}
.mb40 {
	MARGIN-BOTTOM: 40px
}
.mb50 {
	MARGIN-BOTTOM: 50px
}
.mb100 {
	MARGIN-BOTTOM: 100px
}
.ml5 {
	MARGIN-LEFT: 5px
}
.ml10 {
	MARGIN-LEFT: 10px
}
.ml15 {
	MARGIN-LEFT: 15px
}
.ml20 {
	MARGIN-LEFT: 20px
}
.ml30 {
	MARGIN-LEFT: 30px
}
.ml40 {
	MARGIN-LEFT: 40px
}
.ml50 {
	MARGIN-LEFT: 50px
}
.ml100 {
	MARGIN-LEFT: 100px
}
.mr5 {
	MARGIN-RIGHT: 5px
}
.mr10 {
	MARGIN-RIGHT: 10px
}
.mr15 {
	MARGIN-RIGHT: 15px
}
.mr20 {
	MARGIN-RIGHT: 20px
}
.mr30 {
	MARGIN-RIGHT: 30px
}
.mr40 {
	MARGIN-RIGHT: 40px
}
.mr50 {
	MARGIN-RIGHT: 50px
}
.mr100 {
	MARGIN-RIGHT: 100px
}
.p10 {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.p15 {
	PADDING-BOTTOM: 15px; PADDING-TOP: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px
}
.p30 {
	PADDING-BOTTOM: 30px; PADDING-TOP: 30px; PADDING-LEFT: 30px; PADDING-RIGHT: 30px
}
.pt5 {
	PADDING-TOP: 5px
}
.pt10 {
	PADDING-TOP: 10px
}
.pt15 {
	PADDING-TOP: 15px
}
.pt20 {
	PADDING-TOP: 20px
}
.pt30 {
	PADDING-TOP: 30px
}
.pt40 {
	PADDING-TOP: 40px
}
.pt50 {
	PADDING-TOP: 50px
}
.pt100 {
	PADDING-TOP: 100px
}
.pb5 {
	PADDING-BOTTOM: 5px
}
.pb10 {
	PADDING-BOTTOM: 10px
}
.pb15 {
	PADDING-BOTTOM: 15px
}
.pb20 {
	PADDING-BOTTOM: 20px
}
.pb30 {
	PADDING-BOTTOM: 30px
}
.pb40 {
	PADDING-BOTTOM: 40px
}
.pb50 {
	PADDING-BOTTOM: 50px
}
.pb100 {
	PADDING-BOTTOM: 100px
}
.pl5 {
	PADDING-LEFT: 5px
}
.pl10 {
	PADDING-LEFT: 10px
}
.pl15 {
	PADDING-LEFT: 15px
}
.pl20 {
	PADDING-LEFT: 20px
}
.pl30 {
	PADDING-LEFT: 30px
}
.pl40 {
	PADDING-LEFT: 40px
}
.pl50 {
	PADDING-LEFT: 50px
}
.pl100 {
	PADDING-LEFT: 100px
}
.pr5 {
	PADDING-RIGHT: 5px
}
.pr10 {
	PADDING-RIGHT: 10px
}
.pr15 {
	PADDING-RIGHT: 15px
}
.pr20 {
	PADDING-RIGHT: 20px
}
.pr30 {
	PADDING-RIGHT: 30px
}
.pr40 {
	PADDING-RIGHT: 40px
}
.pr50 {
	PADDING-RIGHT: 50px
}
.pr100 {
	PADDING-RIGHT: 100px
}
.red {
	COLOR: red !important
}
.blue {
	COLOR: #23a0fa !important
}
.orange {
	COLOR: #ff6e03 !important
}
.gray3 {
	COLOR: #333 !important
}
.gray6 {
	COLOR: #666 !important
}
.gray9 {
	COLOR: #999 !important
}
.green {
	COLOR: green !important
}
.white {
	COLOR: #fff !important
}
.black {
	COLOR: #000 !important
}
.fl {
	FLOAT: left !important
}
.fr {
	FLOAT: right !important
}
.bold {
	FONT-WEIGHT: bold
}
.tc {
	TEXT-ALIGN: center
}
.tl {
	TEXT-ALIGN: left
}
.tr {
	TEXT-ALIGN: right
}
.pr {
	POSITION: relative
}
.noborder {
	BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; BORDER-LEFT: medium none
}
.underline {
	TEXT-DECORATION: underline
}
.w1002 {
	WIDTH: 1002px; MARGIN: 0px auto
}
.border_b {
	BORDER-BOTTOM: #ddd 1px solid
}
.border_r {
	BORDER-RIGHT: #ddd 1px solid
}
.border_t {
	BORDER-TOP: #ddd 1px solid
}
.border_t_d {
	BORDER-TOP: #ddd 1px dotted
}
.border_d_b {
	BORDER-BOTTOM: #ddd 1px dotted
}
.border {
	BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid
}
.arial {
	FONT-FAMILY: Arial
}
.lh24 {
	LINE-HEIGHT: 24px
}
.lh26 {
	LINE-HEIGHT: 26px
}
.lh28 {
	LINE-HEIGHT: 28px
}
.lh30 {
	LINE-HEIGHT: 30px
}
.va_m {
	VERTICAL-ALIGN: middle
}
.top_bar {
	HEIGHT: 40px; WIDTH: 100%; BACKGROUND: #ebebeb; COLOR: #999; LINE-HEIGHT: 40px
}
.top_bar A {
	COLOR: #999
}
.top_bar .tel {
	CURSOR: default
}
.top_bar .icon {
	HEIGHT: 25px; WIDTH: 25px; VERTICAL-ALIGN: middle; BACKGROUND: url(../images/top_bar.png) no-repeat 0px -20px; DISPLAY: inline-block; MARGIN-RIGHT: 5px; -webkit-transition: all 0.15s linear; -moz-transition: all 0.15s linear; -ms-transition: all 0.15s linear; -o-transition: all 0.15s linear; transition: all 0.15s linear
}
.top_bar .tel SPAN {
	FONT-SIZE: 18px; FONT-WEIGHT: bold
}
.top_bar .service .icon {
	BACKGROUND-POSITION: -34px -20px
}
.top_bar .service:hover .icon {
	BACKGROUND-POSITION: -34px -57px
}
.top_bar .focus .icon {
	POSITION: relative; FLOAT: left; MARGIN: 8px 0px 0px 5px; Z-INDEX: 99999; -webkit-transition: all 0.15s linear
}
.top_bar .focus .wb {
	BACKGROUND-POSITION: -71px -20px
}
.top_bar .focus .cur.wb {
	BACKGROUND-POSITION: -71px -57px
}
.top_bar .focus .wx {
	BACKGROUND-POSITION: -106px -20px
}
.top_bar .focus .cur.wx {
	BACKGROUND-POSITION: -106px -57px
}
.top_bar .code {
	POSITION: absolute; TEXT-ALIGN: center; PADDING-TOP: 10px; LEFT: -70px; DISPLAY: none; TOP: 20px
}
.top_bar .code .border {
	FONT-SIZE: 12px; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; WIDTH: 150px; BACKGROUND: #fff; BORDER-BOTTOM: #ddd 1px solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #ddd 1px solid; LINE-HEIGHT: 22px; PADDING-RIGHT: 5px; border-radius: 3px
}
.top_bar .code IMG {
	HEIGHT: 150px; WIDTH: 150px
}
.top_bar .arrow {
	HEIGHT: 9px; WIDTH: 18px; BACKGROUND: url(../images/top_bar.png) no-repeat -21px 0px; POSITION: absolute; LEFT: 75px; TOP: 3px
}
.top_bar .nav LI {
	FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.top_bar .nav LI.hello {
	PADDING-RIGHT: 0px
}
.top_bar .nav LI.line {
	HEIGHT: 17px; WIDTH: 1px; BACKGROUND: #ddd; MARGIN-TOP: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.top_bar .nav .app {
	POSITION: relative; Z-INDEX: 99999
}
.top_bar .nav .app .code {
	LEFT: -30px; TOP: 30px
}
.top_bar .nav .app SPAN {
	CURSOR: default
}
.top_bar .nav .app:hover SPAN {
	COLOR: #ac5d00
}
.top_bar .nav .letter .number {
	HEIGHT: 16px; BACKGROUND: #ac5d00; COLOR: #fff; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 4px; MARGIN-LEFT: 5px; DISPLAY: inline-block; LINE-HEIGHT: 16px; PADDING-RIGHT: 4px; border-radius: 3px
}
.top_bar .nav .user {
	POSITION: relative; PADDING-LEFT: 0px; Z-INDEX: 99999; DISPLAY: inline-block
}
.top_bar .nav .user .name {
	COLOR: #ac5d00
}
.top_bar .nav .user .child {
	BORDER-TOP: #ac5d00 1px solid; BORDER-RIGHT: #ac5d00 1px solid; WIDTH: 100px; BACKGROUND: #fff; BORDER-BOTTOM: #ac5d00 1px solid; POSITION: absolute; MARGIN-LEFT: -58px; LEFT: 50%; BORDER-LEFT: #ac5d00 1px solid; DISPLAY: none; TOP: 40px
}
.top_bar .nav .user .child A {
	HEIGHT: 30px; WIDTH: 100px; COLOR: #666; TEXT-ALIGN: center; MARGIN: 0px; DISPLAY: inline-block; LINE-HEIGHT: 30px
}
.top_bar .nav .user .child A:hover {
	BACKGROUND: #ac5d00; COLOR: #fff
}
.top_bar .nav .user .child .arrow {
	HEIGHT: 6px; WIDTH: 9px; BACKGROUND: url(../images/top_bar.png) no-repeat; POSITION: absolute; LEFT: 45px; TOP: -6px
}
.top_bar .top_car_ico {
	HEIGHT: 15px; WIDTH: 15px; VERTICAL-ALIGN: middle; BACKGROUND: url(../images/top_bar.png) no-repeat -53px 0px; DISPLAY: inline-block; MARGIN-RIGHT: 5px
}
.header {
	PADDING-BOTTOM: 25px; PADDING-TOP: 25px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.header .logo {
	FLOAT: left
}
.header .logo IMG {
	MAX-HEIGHT: 55px
}
.header .main_nav {
	MARGIN-TOP: 10px; FLOAT: right
}
.header .main_nav .item {
	POSITION: relative; FLOAT: left; Z-INDEX: 9999
}
.header .main_nav .nav {
	FONT-SIZE: 18px
}
.header .main_nav .nav A {
	BORDER-BOTTOM: #fff 2px solid; COLOR: #333; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 20px; DISPLAY: block; LINE-HEIGHT: 40px; PADDING-RIGHT: 20px
}
.header .main_nav .cur .nav A {
	BACKGROUND: #e8c109; COLOR: #fff
}
.header .main_nav .nav A:hover {
	BACKGROUND: #e8c109; COLOR: #fff
}
.header .main_nav .arrow {
	FONT-SIZE: 0px; BORDER-TOP: transparent 6px dashed; HEIGHT: 0px; BORDER-RIGHT: transparent 6px dashed; WIDTH: 0px; BORDER-BOTTOM: #fff 6px solid; POSITION: absolute; MARGIN-LEFT: -6px; LEFT: 50%; BORDER-LEFT: transparent 6px dashed; DISPLAY: block; LINE-HEIGHT: 0; TOP: -12px
}
.header .main_nav .subnav {
	BORDER-TOP: medium none; BORDER-RIGHT: #f5f5f5 1px solid; WIDTH: 110px; BACKGROUND: #fff; BORDER-BOTTOM: #f5f5f5 1px solid; POSITION: absolute; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 0px; BORDER-LEFT: #f5f5f5 1px solid; DISPLAY: none; TOP: 40px; PADDING-RIGHT: 0px
}
.header .main_nav .subnav LI {
	FONT-SIZE: 16px; TEXT-ALIGN: center; LINE-HEIGHT: 32px
}
.header .main_nav .subnav LI A {
	DISPLAY: block
}
.footer {
	BACKGROUND: #ac5d00; COLOR: #fff; PADDING-BOTTOM: 30px; PADDING-TOP: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.footer A {
	COLOR: #fff
}
.footer A:hover {
	COLOR: #e8c109
}
.footer_logo {
	FLOAT: left
}
.footer_logo IMG {
	MAX-WIDTH: 250px
}
.footer_info {
	WIDTH: 300px; FLOAT: left; MARGIN: 0px 0px 0px 80px
}
.footer_nav {
	WIDTH: 360px; MARGIN-TOP: 20px; FLOAT: left
}
.footer_nav LI {
	FONT-SIZE: 16px; WIDTH: 80px; FLOAT: left; MARGIN-LEFT: 40px; LINE-HEIGHT: 35px
}
.copyright {
	BORDER-TOP: #c16811 1px solid; MARGIN-TOP: 20px; TEXT-ALIGN: center; LINE-HEIGHT: 50px
}
.copyright .icon IMG {
	VERTICAL-ALIGN: middle; MARGIN-LEFT: 10px; DISPLAY: inline-block; MAX-HEIGHT: 36px
}
.popup_bg {
	HEIGHT: 100%; WIDTH: 100%; BACKGROUND: #000; POSITION: fixed; LEFT: 0px; FILTER: alpha(opacity=30); Z-INDEX: 999998; TOP: 0px; _position: absolute; _height: 2000px; -moz-opacity: .30; opacity: 0.3
}
.dialog {
	BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; WIDTH: 500px; BACKGROUND: #fdfdfd; BORDER-BOTTOM: #ccc 1px solid; POSITION: fixed; MARGIN-LEFT: -251px; LEFT: 50%; BORDER-LEFT: #ccc 1px solid; Z-INDEX: 999999; TOP: 100px; border-radius: 5px; _position: absolute; box-shadow: 0 2px 10px 5px #ccc
}
.dialog .title {
	FONT-SIZE: 16px; HEIGHT: 38px; BACKGROUND: #eee; BORDER-BOTTOM: #ddd 1px solid; COLOR: #333; PADDING-LEFT: 20px; LINE-HEIGHT: 38px; border-radius: 5px 5px 0 0
}
.dialog .title .out {
	HEIGHT: 28px; WIDTH: 30px; BACKGROUND: url(../images/dialog.png) no-repeat 0px 3px; FLOAT: right; MARGIN: 10px 0px 0px; DISPLAY: inline-block
}
.dialog .content {
	PADDING-BOTTOM: 30px; PADDING-TOP: 20px; PADDING-LEFT: 25px; PADDING-RIGHT: 25px
}
.dialog .tip_information {
	WIDTH: 450px; PADDING-BOTTOM: 20px; TEXT-ALIGN: center; PADDING-TOP: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.dialog .tip_information .doubt {
	HEIGHT: 23px; WIDTH: 23px; VERTICAL-ALIGN: top; BACKGROUND: url(../images/dialog.png) no-repeat 0px -33px; MARGIN-TOP: 4px; DISPLAY: inline-block
}
.dialog .tip_information .error {
	HEIGHT: 23px; WIDTH: 23px; VERTICAL-ALIGN: top; BACKGROUND: url(../images/dialog.png) no-repeat 0px -33px; MARGIN-TOP: 4px; DISPLAY: inline-block
}
.dialog .tip_information .successful {
	HEIGHT: 23px; WIDTH: 23px; VERTICAL-ALIGN: top; BACKGROUND: url(../images/dialog.png) no-repeat 0px -33px; MARGIN-TOP: 4px; DISPLAY: inline-block
}
.dialog .tip_information .question {
	HEIGHT: 23px; WIDTH: 23px; VERTICAL-ALIGN: top; BACKGROUND: url(../images/dialog.png) no-repeat 0px -33px; MARGIN-TOP: 4px; DISPLAY: inline-block
}
.dialog .tip_information .error {
	BACKGROUND-POSITION: 0px -67px
}
.dialog .tip_information .successful {
	BACKGROUND-POSITION: 0px -105px
}
.dialog .tip_information .question {
	BACKGROUND-POSITION: 0px -138px
}
.dialog .tip_information .tips {
	MAX-WIDTH: 410px; VERTICAL-ALIGN: top; TEXT-ALIGN: left; MARGIN-LEFT: 10px; DISPLAY: inline-block
}
.dialog .table TD {
	FONT-SIZE: 12px; BORDER-BOTTOM: #ddd 1px solid; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; LINE-HEIGHT: 20px; PADDING-RIGHT: 10px
}
.dialog .table .til TD {
	FONT-SIZE: 14px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; BACKGROUND: #f5f5f5; BORDER-BOTTOM: 0px; BORDER-LEFT: 0px
}
.dialog .hd {
	MARGIN-BOTTOM: 15px; LINE-HEIGHT: 24px
}
.dialog .hd .icon {
	HEIGHT: 24px; WIDTH: 6px; VERTICAL-ALIGN: top; BACKGROUND: #e8c109; DISPLAY: inline-block; MARGIN-RIGHT: 20px; border-radius: 3px
}
.dialog .text_list LI:after {
	HEIGHT: 0px; CONTENT: '\20'; CLEAR: both; DISPLAY: block
}
.dialog .text_list LI {
	MARGIN-BOTTOM: 10px; ZOOM: 1; LINE-HEIGHT: 30px
}
.dialog .text_list .til {
	WIDTH: 32%; FLOAT: left; TEXT-ALIGN: right
}
.dialog .text_list .con {
	WIDTH: 68%; FLOAT: left
}
.bank_dialog {
	WIDTH: 650px; MARGIN-LEFT: -322px
}
.bank_dialog .text_list .til {
	WIDTH: 25%; FLOAT: left
}
.bank_dialog .text_list .con {
	WIDTH: 75%; FLOAT: left
}
.dialog .prompt_mod {
	BACKGROUND: #f8f8f8; PADDING-BOTTOM: 15px; PADDING-TOP: 15px; PADDING-LEFT: 20px; LINE-HEIGHT: 24px; PADDING-RIGHT: 20px
}
.dialog .select_style {
	BORDER-TOP: #ddd 1px solid; HEIGHT: 30px; BORDER-RIGHT: #ddd 1px solid; WIDTH: 222px; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #ddd 1px solid; PADDING-LEFT: 5px; BORDER-LEFT: #ddd 1px solid; LINE-HEIGHT: 30px; MARGIN-RIGHT: 10px
}
.dialog .text_style {
	BORDER-TOP: #ddd 1px solid; HEIGHT: 18px; BORDER-RIGHT: #ddd 1px solid; WIDTH: 220px; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #ddd 1px solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #ddd 1px solid; LINE-HEIGHT: 18px; PADDING-RIGHT: 5px; MARGIN-RIGHT: 10px
}
.dialog .textarea_style {
	BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #ddd 1px solid; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; BORDER-LEFT: #ddd 1px solid; LINE-HEIGHT: 24px; PADDING-RIGHT: 5px; MARGIN-RIGHT: 10px
}
.dialog_shipping_address .text_list .til {
	WIDTH: 22%
}
.dialog_shipping_address .text_list .con {
	WIDTH: 78%
}
.dialog_shipping_address .select_style {
	WIDTH: 100px; MARGIN-RIGHT: 2px
}
.app_popup_bg {
	HEIGHT: 100%; WIDTH: 100%; BACKGROUND: #000; POSITION: fixed; LEFT: 0px; FILTER: alpha(opacity=40); Z-INDEX: 999998; TOP: 0px; _position: absolute; _height: 2000px; -moz-opacity: .40; opacity: 0.4
}
.app_dialog {
	HEIGHT: 521px; WIDTH: 700px; BACKGROUND: url(../images/app_dialog.png) no-repeat; POSITION: fixed; LEFT: 50%; MARGIN: -260px -350px; Z-INDEX: 999999; TOP: 50%; _position: absolute
}
.app_dialog .out {
	HEIGHT: 13px; WIDTH: 13px; BACKGROUND: url(../images/app_dialog.png) no-repeat -290px -531px; MARGIN: 15px 15px 0px 0px; DISPLAY: inline-block
}
.app_dialog .highlight {
	COLOR: #ac5d00 !important
}
.app_dialog .con {
	WIDTH: 480px; MARGIN: 60px auto 0px
}
.app_dialog .button A {
	HEIGHT: 70px; WIDTH: 173px; BACKGROUND: url(../images/app_dialog.png) no-repeat 0px -531px; COLOR: #fff; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; PADDING-LEFT: 100px; DISPLAY: block; PADDING-RIGHT: 0px; border-radius: 3px
}
.app_dialog .button .android {
	BACKGROUND-POSITION: 0px -621px
}
.hover_tips {
	HEIGHT: 17px; WIDTH: 17px; VERTICAL-ALIGN: middle; BACKGROUND: url(../images/user_icon.png) no-repeat; POSITION: relative; DISPLAY: inline-block
}
.hover_tips_con {
	POSITION: absolute; PADDING-TOP: 7px; MARGIN-LEFT: -132px; LEFT: 50%; DISPLAY: none; TOP: 17px
}
.hover_tips_con .border {
	FONT-SIZE: 12px; WIDTH: 250px; BACKGROUND: #fff; PADDING-BOTTOM: 5px; TEXT-ALIGN: left; PADDING-TOP: 5px; PADDING-LEFT: 10px; LINE-HEIGHT: 20px; PADDING-RIGHT: 14px
}
.hover_tips_con .arrow {
	HEIGHT: 7px; WIDTH: 10px; BACKGROUND: url(../images/color_user_icon.png) no-repeat 0px -35px; POSITION: absolute; MARGIN-LEFT: -5px; LEFT: 50%; TOP: 1px
}
.hover_tips_con .close {
	HEIGHT: 7px; WIDTH: 8px; BACKGROUND: url(../images/color_user_icon.png) no-repeat -20px -35px; RIGHT: 5px; POSITION: absolute; TOP: 13px
}
.item_icon {
	FONT-SIZE: 14px; HEIGHT: 20px; WIDTH: 20px; VERTICAL-ALIGN: middle; COLOR: #fff; TEXT-ALIGN: center; DISPLAY: inline-block; LINE-HEIGHT: 20px; MARGIN-RIGHT: 5px; border-radius: 3px
}
.xin_icon {
	BACKGROUND: #00abff
}
.dan_icon {
	BACKGROUND: #ff6046
}
.shi_icon {
	BACKGROUND: #a574d3
}
.di_icon {
	BACKGROUND: #ffb709
}
.novice_icon {
	BORDER-TOP: #7cbe56 1px solid; HEIGHT: 20px; BORDER-RIGHT: #7cbe56 1px solid; WIDTH: 20px; BORDER-BOTTOM: #7cbe56 1px solid; COLOR: #7cbe56; BORDER-LEFT: #7cbe56 1px solid; LINE-HEIGHT: 20px; border-radius: 50%
}
.reward_icon {
	BORDER-TOP: #7cbe56 1px solid; HEIGHT: 20px; BORDER-RIGHT: #7cbe56 1px solid; WIDTH: 20px; BORDER-BOTTOM: #7cbe56 1px solid; COLOR: #7cbe56; BORDER-LEFT: #7cbe56 1px solid; LINE-HEIGHT: 20px; border-radius: 50%
}
.reward_icon {
	BORDER-TOP: #ff3e3d 1px solid; BORDER-RIGHT: #ff3e3d 1px solid; BORDER-BOTTOM: #ff3e3d 1px solid; COLOR: #ff3e3d; BORDER-LEFT: #ff3e3d 1px solid
}
.charity_icon {
	HEIGHT: 22px; WIDTH: 22px; VERTICAL-ALIGN: middle; BACKGROUND: url(../images/charity_icon.png) no-repeat; DISPLAY: inline-block; MARGIN-RIGHT: 5px
}
.novice_xin_icon {
	BACKGROUND: #7cbe56
}
.reward_jiang_icon {
	BACKGROUND: #ff3e3d
}
.main_bg {
	BACKGROUND: url(../images/main_bg.png) #f5f5f5 repeat-x; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; PADDING-LEFT: 0px; MIN-HEIGHT: 500px; PADDING-RIGHT: 0px
}
.paging {
	TEXT-ALIGN: right; PADDING-TOP: 20px
}
.paging .cur {
	BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; BORDER-BOTTOM: #ddd 1px solid; COLOR: #fff; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 5px; BORDER-LEFT: #ddd 1px solid; MARGIN: 0px 3px; PADDING-RIGHT: 5px
}
.paging .cur:hover {
	COLOR: #fff
}
.page_input {
	BORDER-TOP: #ddd 1px solid; HEIGHT: 20px; BORDER-RIGHT: #ddd 1px solid; WIDTH: 30px; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #ddd 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ddd 1px solid; MARGIN: 0px 5px
}
.paging A {
	BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; BORDER-BOTTOM: #ddd 1px solid; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 5px; BORDER-LEFT: #ddd 1px solid; MARGIN: 0px 3px; PADDING-RIGHT: 5px
}
.paging .btn_ok {
	FONT-SIZE: 12px; CURSOR: pointer; HEIGHT: 22px; WIDTH: 50px; VERTICAL-ALIGN: top; COLOR: #fff; DISPLAY: inline-block; LINE-HEIGHT: 20px; border-radius: 3px
}
.paging .btn_ok:hover {
	COLOR: #fff; FILTER: alpha(opacity=70); -moz-opacity: .7; opacity: 0.7
}
.paging .disabled {
	CURSOR: default; COLOR: #999
}
.paging .disabled:hover {
	COLOR: #999
}
.login_mod {
	WIDTH: 922px; BACKGROUND: #fff; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; PADDING-LEFT: 40px; MIN-HEIGHT: 450px; MARGIN: 0px auto; PADDING-RIGHT: 40px
}
.login_hd {
	MARGIN-BOTTOM: 15px; BORDER-BOTTOM: #ddd 1px solid; PADDING-BOTTOM: 15px; LINE-HEIGHT: 24px
}
.login_hd .icon {
	HEIGHT: 24px; WIDTH: 6px; VERTICAL-ALIGN: top; BACKGROUND: #e8c109; DISPLAY: inline-block; MARGIN-RIGHT: 20px; border-radius: 3px
}
.login_form .item:after {
	HEIGHT: 0px; CONTENT: '\20'; CLEAR: both; DISPLAY: block
}
.login_form .item {
	ZOOM: 1; LINE-HEIGHT: 34px
}
.login_form .til {
	WIDTH: 32%; FLOAT: left; TEXT-ALIGN: right
}
.login_form .con {
	WIDTH: 68%; FLOAT: left
}
.login_form .input {
	BORDER-TOP: #ddd 1px solid; HEIGHT: 34px; BORDER-RIGHT: #ddd 1px solid; WIDTH: 330px; BACKGROUND: #fff; BORDER-BOTTOM: #ddd 1px solid; POSITION: relative; BORDER-LEFT: #ddd 1px solid; MARGIN-RIGHT: 10px
}
.login_form .input I {
	HEIGHT: 34px; WIDTH: 35px; VERTICAL-ALIGN: top; BACKGROUND: url(../images/login_ico.png) no-repeat; DISPLAY: inline-block
}
.login_form .input I.name_ico {
	BACKGROUND-POSITION: 8px 6px
}
.login_form .input I.password_ico {
	BACKGROUND-POSITION: 8px -35px
}
.login_form .input I.verify_ico {
	BACKGROUND-POSITION: 8px -77px
}
.login_form .input I.phone_ico {
	BACKGROUND-POSITION: 8px -220px
}
.login_form .input I.email_ico {
	BACKGROUND-POSITION: 8px -182px
}
.login_form .input I.invite_ico {
	BACKGROUND-POSITION: 8px -260px
}
.login_form .text {
	BORDER-TOP: 0px; HEIGHT: 18px; BORDER-RIGHT: 0px; WIDTH: 285px; VERTICAL-ALIGN: top; BACKGROUND: #fff; BORDER-BOTTOM: 0px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 0px; BORDER-LEFT: 0px; LINE-HEIGHT: 18px; PADDING-RIGHT: 0px
}
.login_form .select {
	BORDER-TOP: #ddd 1px solid; HEIGHT: 36px; BORDER-RIGHT: #ddd 1px solid; WIDTH: 332px; VERTICAL-ALIGN: top; BACKGROUND: #fff; BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; LINE-HEIGHT: 36px
}
.login_form .text2 {
	BORDER-TOP: #ddd 1px solid; HEIGHT: 18px; BORDER-RIGHT: #ddd 1px solid; WIDTH: 310px; VERTICAL-ALIGN: top; BACKGROUND: #fff; BORDER-BOTTOM: #ddd 1px solid; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 10px; BORDER-LEFT: #ddd 1px solid; LINE-HEIGHT: 18px; PADDING-RIGHT: 10px
}
.login_form .prompt {
	FONT-SIZE: 12px; COLOR: red; PADDING-BOTTOM: 5px; MIN-HEIGHT: 20px; LINE-HEIGHT: 20px
}
.login_form .verify_input {
	WIDTH: 125px
}
.login_form .verify_input .text {
	WIDTH: 80px
}
.login_form .invite_input {
	WIDTH: 165px
}
.login_form .invite_input .text {
	WIDTH: 120px
}
.login_form .correct_ico {
	HEIGHT: 18px; WIDTH: 18px; VERTICAL-ALIGN: middle; BACKGROUND: url(../images/login_ico.png) no-repeat 0px -335px; RIGHT: -28px; POSITION: absolute; MARGIN-LEFT: 2px; DISPLAY: inline-block; TOP: 8px
}
.other_login A {
	HEIGHT: 18px; WIDTH: 18px; VERTICAL-ALIGN: middle; BACKGROUND: url(../images/login_ico.png) no-repeat; MARGIN-LEFT: 5px; DISPLAY: inline-block
}
.other_login .qq {
	BACKGROUND-POSITION: 0px -128px
}
.other_login .wb {
	BACKGROUND-POSITION: 0px -156px
}
.login_form .btn05 {
	HEIGHT: 34px; LINE-HEIGHT: 34px
}
.back_way LI {
	FONT-SIZE: 18px; CURSOR: pointer; HEIGHT: 110px; WIDTH: 270px; BACKGROUND: url(../images/retrieve_password.png) no-repeat; FLOAT: left; COLOR: #fff; TEXT-ALIGN: right; MARGIN: 0px 38px 30px 0px; LINE-HEIGHT: 88px; PADDING-RIGHT: 12px
}
.back_way .email {
	BACKGROUND-POSITION: -289px 0px
}
.back_way .problem {
	BACKGROUND-POSITION: -577px 0px; MARGIN-RIGHT: 0px
}
.login_form .problem {
	MARGIN-LEFT: 295px
}
.login_form .problem LI {
	MARGIN-BOTTOM: 15px
}
.login_form .problem .text {
	BORDER-TOP: #ddd 1px solid; HEIGHT: 18px; BORDER-RIGHT: #ddd 1px solid; WIDTH: 320px; VERTICAL-ALIGN: top; BACKGROUND: #fff; MARGIN-TOP: 5px; BORDER-BOTTOM: #ddd 1px solid; PADDING-BOTTOM: 7px; PADDING-TOP: 7px; PADDING-LEFT: 10px; BORDER-LEFT: #ddd 1px solid; LINE-HEIGHT: 18px; PADDING-RIGHT: 10px
}
.reg_mod .login_form {
	WIDTH: 580px; FLOAT: left
}
.reg_mod .login_form .til {
	WIDTH: 17%
}
.reg_mod .login_form .con {
	WIDTH: 83%
}
.login_form .intensity SPAN {
	FONT-SIZE: 12px; HEIGHT: 18px; WIDTH: 30px; VERTICAL-ALIGN: middle; BACKGROUND: #eee; COLOR: #999; TEXT-ALIGN: center; DISPLAY: inline-block; LINE-HEIGHT: 18px; border-radius: 18px
}
.login_form .intensity SPAN.cur {
	COLOR: #fff
}
.red_right_mod {
	WIDTH: 340px; FLOAT: right
}
.red_right_mod_bg {
	HEIGHT: 450px; WIDTH: 310px; BACKGROUND: url(../images/reg_bg.jpg) #ebebeb no-repeat center bottom; MARGIN-TOP: 38px; FLOAT: right
}
.login_hd02 {
	FONT-SIZE: 16px; BACKGROUND: #f2f2f2; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px
}
.red_bg {
	WIDTH: 100%; BACKGROUND: #f6db44; PADDING-BOTTOM: 40px; PADDING-TOP: 40px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.red_bg .login_mod {
	box-shadow: 0 0 5px #e8c109
}
.login_footer A {
	MARGIN: 0px 10px
}
.login_bg {
	WIDTH: 100%; BACKGROUND: #f6db44; PADDING-BOTTOM: 60px; PADDING-TOP: 60px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.login_bg_pic {
	BACKGROUND: url(../images/login_bg.png) no-repeat
}
.login_bg .login_mod {
	WIDTH: 420px; FLOAT: right; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; PADDING-LEFT: 30px; PADDING-RIGHT: 30px; box-shadow: 0 0 5px #e8c109
}
.login_bg .login_form .til {
	WIDTH: 17%
}
.login_bg .login_form .con {
	WIDTH: 83%
}
.tip_info {
	MAX-WIDTH: 900px; TEXT-ALIGN: center; MARGIN: 0px auto
}
.tip_info .doubt {
	HEIGHT: 50px; WIDTH: 50px; VERTICAL-ALIGN: middle; BACKGROUND: url(../images/user_popup.png) no-repeat; DISPLAY: inline-block
}
.tip_info .error {
	HEIGHT: 50px; WIDTH: 50px; VERTICAL-ALIGN: middle; BACKGROUND: url(../images/user_popup.png) no-repeat; DISPLAY: inline-block
}
.tip_info .successful {
	HEIGHT: 50px; WIDTH: 50px; VERTICAL-ALIGN: middle; BACKGROUND: url(../images/user_popup.png) no-repeat; DISPLAY: inline-block
}
.tip_info .error {
	BACKGROUND-POSITION: 0px -50px
}
.tip_info .successful {
	BACKGROUND-POSITION: 0px -100px
}
.tip_info .tips {
	MAX-WIDTH: 830px; VERTICAL-ALIGN: middle; TEXT-ALIGN: left; MARGIN-LEFT: 15px; DISPLAY: inline-block
}
.btn01 {
	FONT-SIZE: 16px; CURSOR: pointer; BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; COLOR: #fff; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 15px; BORDER-LEFT: medium none; DISPLAY: inline-block; PADDING-RIGHT: 15px; border-radius: 30px
}
.btn02 {
	FONT-SIZE: 16px; CURSOR: pointer; BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; COLOR: #fff; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 15px; BORDER-LEFT: medium none; DISPLAY: inline-block; PADDING-RIGHT: 15px; border-radius: 30px
}
.btn03 {
	FONT-SIZE: 16px; CURSOR: pointer; BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; COLOR: #fff; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 15px; BORDER-LEFT: medium none; DISPLAY: inline-block; PADDING-RIGHT: 15px; border-radius: 30px
}
.btn04 {
	FONT-SIZE: 16px; CURSOR: pointer; BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; COLOR: #fff; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 15px; BORDER-LEFT: medium none; DISPLAY: inline-block; PADDING-RIGHT: 15px; border-radius: 30px
}
.btn05 {
	FONT-SIZE: 16px; CURSOR: pointer; BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; COLOR: #fff; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 15px; BORDER-LEFT: medium none; DISPLAY: inline-block; PADDING-RIGHT: 15px; border-radius: 30px
}
.btn06 {
	FONT-SIZE: 16px; CURSOR: pointer; BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; COLOR: #fff; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 15px; BORDER-LEFT: medium none; DISPLAY: inline-block; PADDING-RIGHT: 15px; border-radius: 30px
}
.btn07 {
	FONT-SIZE: 16px; CURSOR: pointer; BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; COLOR: #fff; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 15px; BORDER-LEFT: medium none; DISPLAY: inline-block; PADDING-RIGHT: 15px; border-radius: 30px
}
.btn08 {
	FONT-SIZE: 16px; CURSOR: pointer; BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; COLOR: #fff; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 15px; BORDER-LEFT: medium none; DISPLAY: inline-block; PADDING-RIGHT: 15px; border-radius: 30px
}
.resend_btn {
	FONT-SIZE: 16px; CURSOR: pointer; BORDER-TOP: medium none; BORDER-RIGHT: medium none; BORDER-BOTTOM: medium none; COLOR: #fff; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 15px; BORDER-LEFT: medium none; DISPLAY: inline-block; PADDING-RIGHT: 15px; border-radius: 30px
}
.btn01:hover {
	COLOR: #fff
}
.btn02:hover {
	COLOR: #fff
}
.btn04:hover {
	COLOR: #fff
}
.btn06:hover {
	COLOR: #fff
}
.btn07:hover {
	COLOR: #fff
}
.btn01 {
	HEIGHT: 32px; MIN-WIDTH: 80px; LINE-HEIGHT: 32px
}
.btn02 {
	HEIGHT: 32px; BACKGROUND: #ff6e03; MIN-WIDTH: 80px; LINE-HEIGHT: 32px
}
.btn02:hover {
	BACKGROUND: #ff8b35
}
.btn03 {
	BORDER-TOP: #83b7e2 1px solid; HEIGHT: 30px; BORDER-RIGHT: #83b7e2 1px solid; MIN-WIDTH: 78px; BORDER-BOTTOM: #83b7e2 1px solid; COLOR: #83b7e2; BORDER-LEFT: #83b7e2 1px solid; LINE-HEIGHT: 30px
}
.btn03:hover {
	COLOR: #83b7e2
}
.btn03_gray {
	BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; COLOR: #999; BORDER-LEFT: #ccc 1px solid
}
.btn03_gray:hover {
	COLOR: #999
}
.btn04 {
	FONT-SIZE: 14px; HEIGHT: 26px; MIN-WIDTH: 50px; LINE-HEIGHT: 26px
}
.btn05 {
	FONT-SIZE: 14px; HEIGHT: 28px; VERTICAL-ALIGN: middle; MIN-WIDTH: 60px; LINE-HEIGHT: 28px; border-radius: 0px
}
.btn06 {
	FONT-SIZE: 18px; HEIGHT: 40px; MIN-WIDTH: 120px; LINE-HEIGHT: 40px
}
.btn07 {
	HEIGHT: 40px; MIN-WIDTH: 80px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 30px; LINE-HEIGHT: 40px; PADDING-RIGHT: 30px
}
.btn_gray {
	BACKGROUND: #c5c5c5
}
.btn_disabled {
	CURSOR: default
}
.btn01 {
	BACKGROUND: #ac5d00
}
.btn04 {
	BACKGROUND: #ac5d00
}
.btn06 {
	BACKGROUND: #ac5d00
}
.btn07 {
	BACKGROUND: #ac5d00
}
.btn05 {
	BORDER-TOP: #ac5d00 1px solid; BORDER-RIGHT: #ac5d00 1px solid; BORDER-BOTTOM: #ac5d00 1px solid; COLOR: #ac5d00; BORDER-LEFT: #ac5d00 1px solid
}
.btn01:hover {
	BACKGROUND: #c58d4c
}
.btn02:hover {
	BACKGROUND: #c58d4c
}
.btn04:hover {
	BACKGROUND: #c58d4c
}
.btn06:hover {
	BACKGROUND: #c58d4c
}
.btn07:hover {
	BACKGROUND: #c58d4c
}
A:hover {
	COLOR: #ac5d00
}
.highlight {
	COLOR: #ac5d00 !important
}
.btn05 {
	COLOR: #ac5d00
}
.hover_tips_con .border {
	BORDER-TOP: #ac5d00 1px solid; BORDER-RIGHT: #ac5d00 1px solid; BORDER-BOTTOM: #ac5d00 1px solid; BORDER-LEFT: #ac5d00 1px solid
}
.border_focus {
	BORDER-TOP: #d3bb9f 1px solid; BORDER-RIGHT: #d3bb9f 1px solid; BORDER-BOTTOM: #d3bb9f 1px solid; BORDER-LEFT: #d3bb9f 1px solid
}
.highlight2 {
	COLOR: #e8c109 !important
}
.paging A:hover {
	COLOR: #e8c109
}
.paging .cur {
	BORDER-TOP: #e8c109 1px solid; BORDER-RIGHT: #e8c109 1px solid; BACKGROUND: #e8c109; BORDER-BOTTOM: #e8c109 1px solid; BORDER-LEFT: #e8c109 1px solid
}
.paging .btn_ok {
	BACKGROUND: #e8c109
}
.dialog .hd .icon {
	BACKGROUND: #e8c109
}
.login_hd .icon {
	BACKGROUND: #e8c109
}
.login_form .intensity SPAN.cur {
	BACKGROUND: #e8c109
}
.floating_layer {
	RIGHT: 10px; POSITION: fixed; Z-INDEX: 1000; BOTTOM: 30px
}
.floating_layer LI {
	MARGIN-BOTTOM: 5px; HEIGHT: 60px; WIDTH: 60px
}
.floating_layer .item {
	HEIGHT: 60px; WIDTH: 60px; POSITION: relative; DISPLAY: block
}
.floating_layer I {
	HEIGHT: 60px; WIDTH: 60px; BACKGROUND: url(../images/floating_layer.png) no-repeat; RIGHT: 0px; POSITION: absolute; Z-INDEX: 9; DISPLAY: block
}
.floating_layer I:hover {
	BACKGROUND: url(../images/floating_layer.png) no-repeat
}
.floating_layer .con {
	FONT-SIZE: 20px; OVERFLOW: hidden; HEIGHT: 60px; WIDTH: 0px; BACKGROUND: #ffdc36; WHITE-SPACE: nowrap; RIGHT: 30px; POSITION: absolute; COLOR: #ac5d00; Z-INDEX: 8; LINE-HEIGHT: 60px; -webkit-transition: 0.25s; -moz-transition: 0.25s; transition: 0.25s; border-radius: 30px 0 0 30px
}
.floating_layer .item:hover .con {
	OVERFLOW: visible; WIDTH: auto; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 40px
}
.floating_layer .code .con IMG {
	BORDER-TOP: #ffdc36 10px solid; BORDER-RIGHT: #ffdc36 10px solid; WIDTH: 0px; MARGIN-TOP: -30%; BORDER-BOTTOM: #ffdc36 10px solid; BORDER-LEFT: #ffdc36 10px solid; border-radius: 6px
}
.floating_layer .code:hover .con {
	PADDING-LEFT: 0px
}
.floating_layer .code:hover .con IMG {
	HEIGHT: 132px; WIDTH: 132px
}
.floating_layer .computer I {
	BACKGROUND-POSITION: 0px 0px
}
.floating_layer .computer:hover I {
	BACKGROUND-POSITION: 0px -67px
}
.floating_layer .computer .con .text {
	WIDTH: 0px; BACKGROUND: #ffdc36; MARGIN-TOP: -15%; border-radius: 6px
}
.floating_layer .computer:hover .con {
	PADDING-LEFT: 0px
}
.floating_layer .computer .con .text {
	HEIGHT: 80px; WIDTH: 100px; PADDING-BOTTOM: 10px; TEXT-ALIGN: center; PADDING-TOP: 10px; PADDING-LEFT: 25px; LINE-HEIGHT: 40px; PADDING-RIGHT: 25px
}
.floating_layer .computer .con .text A {
	COLOR: #ac5d00; DISPLAY: inline-block
}
.floating_layer .computer .con .text A:hover {
	COLOR: #333
}
.floating_layer .computer .con .text .border_b {
	BORDER-BOTTOM: #ac5d00 1px solid
}
.floating_layer .service I {
	BACKGROUND-POSITION: -67px 0px
}
.floating_layer .service:hover I {
	BACKGROUND-POSITION: -67px -67px
}
.floating_layer .back I {
	BACKGROUND-POSITION: -134px 0px
}
.floating_layer .back:hover I {
	BACKGROUND-POSITION: -134px -67px
}
.floating_layer .code I {
	BACKGROUND-POSITION: -199px 0px
}
.floating_layer .code:hover I {
	BACKGROUND-POSITION: -199px -67px
}
.top_bar .nav .app:hover SPAN {
	COLOR: #ac5d00
}
.top_bar .nav .letter .number {
	BACKGROUND: #ac5d00
}
.top_bar .nav .user .name {
	COLOR: #ac5d00
}
.top_bar .nav .user .child {
	BORDER-TOP: #ac5d00 1px solid; BORDER-RIGHT: #ac5d00 1px solid; BORDER-BOTTOM: #ac5d00 1px solid; BORDER-LEFT: #ac5d00 1px solid
}
.top_bar .nav .user .child A:hover {
	BACKGROUND: #ac5d00
}
.header .main_nav .cur .nav A {
	BACKGROUND: #e8c109
}
.header .main_nav .nav A:hover {
	BACKGROUND: #e8c109
}
.footer {
	BACKGROUND: #ac5d00
}
.footer A:hover {
	COLOR: #e8c109
}
.copyright {
	BORDER-TOP: #c16811 1px solid
}
